# Directories to ignore
chrome_profile/
recordings/
transcriptions/
myenv/

# Ignore .env files
.env
token.json
credentials.json

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd


# Ignore IDE-specific files
.idea/
.vscode/

# Ignore other common files
.DS_Store
Thumbs.db
